# Site
name: 'Learnables'
description: 'Learnables is a blog authored by a group software developers to share knowledge and ideas of their expertise'
logo: 'assets/images/logo.png'
favicon: 'assets/images/favicon.ico'
baseurl: ''
disqus: ''
email: 'vidyasagar484@gmail.com'
mailchimp-list: ''

include: ["_pages"]
permalink: /:title/

# Plugins
plugins: 
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  
authors:
    vidyasagar:
      name:           Vidyasagar
      site:           https://vidyaasagar.bitbucket.io
      avatar:         /assets/images/avatar1.jpg
      bio:            "Hi, I am Vidyasagar, one of the author of this blog.Love to perform magic tricks with code.I hope you learn something out of my blog posts."
      email:          vidyasagar484@gmail.com
      twitter:        https://twitter.com/vidya4ever

 
# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: vidyasagar
      avatar: /assets/images/avatar1.jpg
      
  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page
      
# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10



# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]